*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Header part*/
.header-container{
    width: 100%;
    height: 170px;
    background-color: brown;
    text-align: center;
}
.header-align{
    display: inline-block;
    margin-top: 50px;
    margin-right: 10px;
}
.header-title{
    font-size:xxx-large;
}
.header-icon-align{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 50px;
    display: inline-block;
    margin-top: 10px;
}
.icon-phone{
    margin-right: 320px
}
.icon-facebook{
    margin-right: 160px;
}
.icon-p{
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
}
a.hover, a{
    color: black;
    text-decoration: none;
}

/*body part*/
.body-container{
    width: 100%;
    height: 600px;
    background-color:#AE6552;
}
.body-box1{
    width: 200px;
    height: 400px;
    background-color: brown;
    display: inline-block;
    position: relative;
    left: 30%;
    top: -21%;
    border: 5px solid white;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}
.body-box2{
    width: 400px;
    height: 400px;
    background-color: #AE6552;
    display: inline-block;
    position: relative;;
    left: 30%;
    top: 13%;
}
.body-box2-div{
    width: 100%;
    height: 49.4%;
    background-color: brown;
    margin-bottom: 5px;
    border: 5px solid white;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}
.body-icon{
    position: relative;
    top: 30%;
    color: white;
}
.body-box1-p{
    position: relative;
    top: 40%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.body-box2 div i{
    position: relative;
    top: 15%;
    color: white;
}
.body-box2-p{
    position: relative;
    top: 30%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

@media(min-width:1311px) and (max-width:1450px){
    .body-box1{
        position: relative;
        left: 25%;
        top: -21%;
    }
    .body-box2{
        position: relative;
        left: 25%;
        top: 13%;
    }
}
@media(min-width:911px) and (max-width:1310px){
    .body-box1{
        position: relative;
        left: 20%;
        top: -21%;
    }
    .body-box2{
        position: relative;
        left: 20%;
        top: 13%;
    }
}
@media(min-width:731px) and (max-width:910px){
    .body-box1{
        position: relative;
        left: 15%;
        top: -21%;
    }
    .body-box2{
        position: relative;
        left: 15%;
        top: 13%;
    }
}
@media(max-width:730px){
    .body-box1{
        width: 400px;
        height: 200px;
        background-color: brown;
        margin-bottom: 5px;
        border: 5px solid white;
        border-radius: 20px;
        cursor: pointer;
        text-align: center;
        position: relative;
        left: 15%;
        top: 13%;
    }
    .body-box2{
        position: relative;
        left: 15%;
        top: 13%;
    }
}